.home {
  > .top-headlines {
    margin-top: $section-gap;
    margin-bottom: $section-gap;
  }

  > .load-more {
    margin-bottom: $section-gap;
  }

  .line-clamp {
    --max-lines: 3;
    display: -webkit-box;
    -webkit-line-clamp: var(--max-lines);
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
  .cover {
    object-fit: cover;
    height: 100%;
  }
}